*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* ============================================ */

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: Manrope;
  color: #333333;
}

/* ============================================ */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ============================================ */
.simple-rating {
  position: relative;
  font-size: 24px;
  display: inline-block;
}

.simple-rating::before {
  content: "★★★★★";
  display: block;
}

.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.simple-rating__lable {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #f0dbbb;
}

.simple-rating__lable::before {
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item ~ .simple-rating__lable {
  color: #fbb040;
}

.simple-rating__lable:hover,
.simple-rating__lable:hover ~ .simple-rating__lable,
.simple-rating__lable:checked ~ .simple-rating__lable:hover {
  color: #ffef9f;
}

/* ============================================ */

/* ============================================ */

.titel {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.375;
}

@media (max-width: 767.98px) {
  .titel {
    font-size: 30px;
  }
}
/* ============================================ */
.titel_center {
  text-align: center;
}
/* ============================================ */

.page {
  flex: 1 1 auto;
}

/* ============================================ */

[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 15px;
  }
}

/* ============================================ */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  min-height: 103px;
  padding-top: 10px;
  display: flex;
  column-gap: 10px;
  row-gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

@media (max-width: 767.98px) {
  .header__container {
    min-height: 0;
    flex-direction: column;
  }
}

.header__logo {
  font-weight: 800;
  font-size: 23px;
  color: inherit;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 46px;
  row-gap: 15px;
}

.menu__link {
  font-weight: 700;
  font-size: 13px;
  color: inherit;
}

.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .menu__list {
    justify-content: center;
  }
  .menu__link {
    font-size: 18px;
  }
}

/* ============================================ */

.main-block {
  padding-bottom: 110px;
}

.main-block__container {
  padding-top: 183px;
  position: relative;
}

.main-block__container::after {
  background: #bdccff;
  content: "";
  position: absolute;
  width: 200%;
  top: 0;
  left: 68%;
  height: 100%;
}

.body-main-block {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.main-block__body {
  margin-bottom: 14px;
}

.body-main-block__content {
  flex: 0 1 50%;
}

.content-main-block {
  padding-top: 40px;
  position: relative;
  z-index: 2;
}

.body-main-block__slider {
  flex: 0 1 50%;
  min-width: 0;
}

/* .slider-main-block{}
.slider-main-block__wrapper{} */

.slider-main-block__slide {
  position: relative;
  padding-bottom: 95%;
}

.slider-main-block__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body-main-block__arrows {
  position: absolute;
  bottom: -52px;
  right: 0;
  display: flex;
  gap: 40px;
  align-items: center;
}

.body-main-block__arrow.swiper-button-prev,
.body-main-block__arrow.swiper-button-next {
  position: static;
  background: url("../img/arrows/arr.svg") 0 0 / 100% no-repeat;
  height: 20px;
  width: 11px;
}

.body-main-block__arrow::after {
  display: none;
}

.body-main-block__arrow.swiper-button-prev {
  transform: rotate(-180deg);
}

.content-main-block__body {
  padding-right: 80px;
}

.content-main-block__sub-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ff9900;
  margin-bottom: 20px;
}

.content-main-block__title {
  font-weight: 800;
  font-size: 54px;
  line-height: 73px;
  margin-bottom: 20px;
}

.conten-main-block__text {
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  margin-bottom: 45px;
}

.form-main-block {
  position: relative;
  z-index: 2;
  display: flex;
  margin-right: -188px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
    0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  background: #fff url("../img/mail/mail.svg") 33px 32px no-repeat;
}

.form-main-block__input {
  height: 86px;
  padding: 0px 0px 0px 74px;
  border: 1px solid #dadada;
  background-color: transparent;
  width: 100%;
  flex: 1 1 auto;
  font-size: 20px;
}

.form-main-block__input::placeholder {
  color: rgb(49, 53, 59, 0.3);
}

.form-main-block__button {
  height: 86px;
  cursor: pointer;
  width: 188px;
  transition: all 0.3s ease 0s;
  background-color: #f85a47;
  padding: 5px 15px;
  flex: 0 0 188px;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.form-main-block__button:hover {
  background-color: #a5362a;
}

.partnes-main-block {
  max-width: 65%;
}

.partnes-main-block__lable {
  font-size: 17px;
  margin-bottom: 25px;
}

.partnes-main-block__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.partnes-main-block__item img {
  max-width: 100%;
}

@media (max-width: 1199.98px) {
  .main-block__container {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .content-main-block__body {
    padding-right: 0px;
  }
  .body-main-block {
    display: block;
  }
  .form-main-block {
    margin-right: 0;
  }

  .body-main-block__content {
    margin-bottom: 40px;
  }

  .main-block__body {
    margin-bottom: 40px;
  }

  .partnes-main-block {
    max-width: none;
    position: relative;
    z-index: 2;
  }
}
@media (max-width: 990.98px) {
  .main-block {
    padding-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .partnes-main-block__items {
    justify-content: center;
  }

  .content-main-block__title {
    font-size: 30px;
    line-height: 120%;
  }

  .form-main-block {
    display: block;
  }
  .form-main-block__button {
    width: 100%;
  }

  .main-block {
    padding-bottom: 30px;
  }
}

@media (max-width: 479.98px) {
  .form-main-block {
    background: #ffffff;
  }
  .form-main-block__input {
    padding: 0 15px;
  }
}

/* ===========================Section How=============================== */

.how {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media (max-width: 990.98px) {
  .how {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 767.98px) {
  .how {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* .how__container {
} */
.how__title {
  margin-bottom: 70px;
}

.how__items {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, minmax(auto, 260px));
  column-gap: 30px;
  row-gap: 45px;
  justify-content: space-between;
}

@media (min-width: 991px) {
  .how__items {
    padding: 0 35px;
  }
}
/* .how__item {
} */
.item-how {
  display: grid;
  text-align: center;
  justify-items: center;
  position: relative;
}

.item-how:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 41px;
  transform: translate(86.5%, 0px);
  width: 210px;
  height: 11px;
  background: url("../img/how/border_1.svg") 0 0 / 100% no-repeat;
}
.item-how_2:not(:last-child)::after {
  transform: translate(86.5%, 0px) rotate(-180deg);
}
.item-how_1 .item-how__icon {
  background: #9672ff;
  box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07),
    0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481),
    0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185),
    0px 20px 13px rgba(150, 114, 255, 0.035),
    0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815),
    0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}
.item-how_2 .item-how__icon {
  background: #4ddffd;
  box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07),
    0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481),
    0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185),
    0px 20px 13px rgba(77, 223, 253, 0.035),
    0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815),
    0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}

.item-how_3 .item-how__icon {
  background: #f2b8ec;
  box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07),
    0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481),
    0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185),
    0px 20px 13px rgba(242, 184, 236, 0.035),
    0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815),
    0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}
.item-how__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.item-how__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 15px;
}
.item-how__text {
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 1199.98px) {
  .item-how:not(:last-child)::after {
    width: 170px;
    transform: translate(69%, 0px);
  }
  .item-how_2:not(:last-child)::after {
    transform: translate(69%, 0px) rotate(-180deg);
  }
}

@media (max-width: 990.98px) {
  .item-how:not(:last-child)::after {
    width: 130px;
    transform: translate(63%, 0px);
  }
  .item-how_2:not(:last-child)::after {
    transform: translate(63%, 0px) rotate(-180deg);
  }
}

@media (max-width: 767.98px) {
  .how__items {
    grid-template-columns: 1fr;
  }
  .item-how:not(:last-child)::after {
    display: none;
  }

  .item-how__icon {
    margin-bottom: 20px;
  }

  .how__title {
    margin-bottom: 30px;
  }
}

/* ===========================Section Deals=============================== */
.deals {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media (max-width: 990.98px) {
  .deals {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 767.98px) {
  .deals {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/* .deals__container {
} */
.deals__header {
  margin-bottom: 50px;
}
/* .deals__tabs {
} */

.header-deals {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
.header-deals__content {
  flex: 1 1 auto;
}
/* .header__deals-title {
} */
.header__deals-title:not(:last-child) {
  margin-bottom: 15px;
}
.header__deals-text {
  max-width: 470px;
  line-height: 24px;
}
.header__deals-link {
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background-color: #f85a47;
  padding: 22px 33px;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
    0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
    0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
    0px 20px 13px rgba(248, 90, 71, 0.035),
    0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
    0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767.98px) {
  .header__deals-link {
    width: 100%;
  }
}

.header__deals-link:hover {
  background-color: #a5362a;
}

/* .tabs-deals {
} */

.tabs-deals__nav {
  display: flex;
  column-gap: 50px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.tabs-deals__button {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: color0.3s easy 0s;
  font-size: 19px;
  line-height: 26px;
}

.tabs-deals__button::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 1px;
  transition: width 0.3s ease 0s;
  background-color: #f85a47;
}

.tabs-deals__button:hover {
  color: #f85a47;
}
.tabs-deals__button:hover::after {
  width: 100%;
}

.tabs-deals__button.active {
  color: #f85a47;
}
.tabs-deals__button.active::after {
  width: 100%;
}
/* .tabs-deals__body {
} */
.tabs-deals__item {
  display: none;
}
.tabs-deals__item.active {
  display: block;
}

/* .item-tabs {
} */
.item-tabs__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.item-tabs__item {
  position: relative;
}

.item-tabs__options {
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.item-tabs__option {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 6px 12px;
  color: #ffffff;
  transition: background-color 0.3s ease 0s;
}

.item-tabs__option:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.item-tabs__image {
  position: relative;
  display: block;
  padding-bottom: 81%;
  border-radius: 5px;
  overflow: hidden;
}

.item-tabs__image:hover img {
  transform: scale(1.1);
}

.item-tabs__image img {
  transition: transform 0.3s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ===========================Section Featured=============================== */

.featured {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media (max-width: 990.98px) {
  .featured {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 767.98px) {
  .featured {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/* .featured__container {
} */
.featured__title {
  margin-bottom: 95px;
}

.featured__body {
  background-color: #f1ffff;
  padding: 40px 40px 80px 40px;
  display: grid;
  column-gap: 77px;
  row-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 990.98px) {
  .featured__body {
    display: flex;
    flex-direction: column-reverse;
  }

  .featured__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .featured__body {
    margin: 0px -15px;
    padding: 20px 15px 20px 15px;
  }

  .featured__title {
    margin-bottom: 30px;
  }
}

.featured__images {
  display: grid;
  justify-items: center;
}
/* .featured__content {
} */
/* .content-featured__body {
} */

.images-featured {
}
.images-featured__item {
}

.images-featured__item img {
  max-width: 100%;
}
.images-featured__item_mini {
  margin-left: 20px;
  margin-right: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704))
    drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963))
    drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037));
  margin-top: -114px;
}

.content-featured {
  display: flex;
  flex-direction: column;
}
.content-featured__title {
  font-weight: 600;
  font-size: 31px;
  line-height: 1.35;
  margin-bottom: 25px;
}

@media (max-width: 767.98px) {
  .content-featured__title {
    font-size: 24px;
  }
}

.content-featured__text {
  line-height: 1.5;
  margin-bottom: 40px;
}

.content-featured__options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-bottom: 55px;
}
.options-content-featured {
}
.options-content-featured__item {
}
.options-content-featured__lable {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 12px;
}
.options-content-featured__value {
  font-size: 17px;
}
.content-featured__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 16px 35px;
  transition: all 0.3s ease 0s;
  background: #f85a47;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
    0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
    0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
    0px 20px 13px rgba(248, 90, 71, 0.035),
    0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
    0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
}

.content-featured__link:hover {
  background: #a5362a;
}

@media (min-width: 991px) {
  .content-featured__body {
    flex: 1 1 auto;
    max-width: 412px;
    padding-top: 40px;
  }

  .content-featured__link {
    max-width: 412px;
  }
}

@media (max-width: 479.98px) {
  .content-featured__options {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 35px;
  }
}

/* ===========================Section =============================== */
