*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* ============================================ */

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: Manrope;
  color: #333333;
}

/* ============================================ */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

/* ============================================ */

[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 15px;
  }
}

/* ============================================ */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  min-height: 103px;
  padding-top: 10px;
  display: flex;
  column-gap: 10px;
  row-gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

@media (max-width: 767.98px) {
  .header__container {
    min-height: 0;
    flex-direction: column;
  }
}

.header__logo {
  font-weight: 800;
  font-size: 23px;
  color: inherit;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 46px;
  row-gap: 15px;
}

.menu__link {
  font-weight: 700;
  font-size: 13px;
  color: inherit;
}

.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .menu__list {
    justify-content: center;
  }
  .menu__link {
    font-size: 18px;
  }
}

/* ============================================ */

.main-block__container {
  padding-top: 183px;
  position: relative;
}

.main-block__container::after {
  background: #bdccff;
  content: "";
  position: absolute;
  width: 200%;
  top: 0;
  left: 68%;
  height: 100%;
}

.body-main-block {
  display: flex;
}

.body-main-block__content {
  flex: 0 1 50%;
}

.body-main-block__slider {
  flex: 0 1 50%;
}

.content-main-block__body {
  padding-right: 80px;
}

.content-main-block__sub-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ff9900;
  margin-bottom: 20px;
}

.content-main-block__title {
  font-weight: 800;
  font-size: 54px;
  line-height: 73px;
  margin-bottom: 20px;
}

.conten-main-block__text {
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  margin-bottom: 45px;
}
