*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* ============================================ */

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: Manrope;
  color: #333333;
}

/* ============================================ */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

/* ============================================ */

[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 15px;
  }
}

/* ============================================ */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  min-height: 103px;
  padding-top: 10px;
  display: flex;
  column-gap: 10px;
  row-gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

@media (max-width: 767.98px) {
  .header__container {
    min-height: 0;
    flex-direction: column;
  }
}

.header__logo {
  font-weight: 800;
  font-size: 23px;
  color: inherit;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 46px;
  row-gap: 15px;
}

.menu__link {
  font-weight: 700;
  font-size: 13px;
  color: inherit;
}

.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .menu__list {
    justify-content: center;
  }
  .menu__link {
    font-size: 18px;
  }
}

/* ============================================ */

.main-block__container {
  padding-top: 183px;
  position: relative;
}

.main-block__container::after {
  background: #bdccff;
  content: "";
  position: absolute;
  width: 200%;
  top: 0;
  left: 68%;
  height: 100%;
}

.body-main-block {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.main-block__body {
  margin-bottom: 14px;
}

.body-main-block__content {
  flex: 0 1 50%;
}

.content-main-block {
  padding-top: 40px;
  position: relative;
  z-index: 2;
}

.body-main-block__slider {
  flex: 0 1 50%;
  min-width: 0;
}

/* .slider-main-block{}
.slider-main-block__wrapper{} */

.slider-main-block__slide {
  position: relative;
  padding-bottom: 95%;
}

.slider-main-block__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body-main-block__arrows {
  position: absolute;
  bottom: -52px;
  right: 0;
  display: flex;
  gap: 40px;
  align-items: center;
}

.body-main-block__arrow.swiper-button-prev,
.body-main-block__arrow.swiper-button-next {
  position: static;
  background: url(../img/arrows/arr.svg) 0 0 / 100% no-repeat;
  height: 20px;
  width: 11px;
}

.body-main-block__arrow::after {
  display: none;
}

.body-main-block__arrow.swiper-button-prev {
  transform: rotate(-180deg);
}

.content-main-block__body {
  padding-right: 80px;
}

.content-main-block__sub-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ff9900;
  margin-bottom: 20px;
}

.content-main-block__title {
  font-weight: 800;
  font-size: 54px;
  line-height: 73px;
  margin-bottom: 20px;
}

.conten-main-block__text {
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  margin-bottom: 45px;
}

.form-main-block {
  position: relative;
  z-index: 2;
  display: flex;
  height: 86px;
  margin-right: -188px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
    0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  background: #fff url(../img/mail/mail.svg) 33px 50% no-repeat;
}

.form-main-block__input {
  padding: 0px 0px 0px 74px;
  border: 1px solid #dadada;
  background-color: transparent;
  width: 100%;
  flex: 1 1 auto;
  font-size: 20px;
}

.form-main-block__input::placeholder {
  color: rgb(49, 53, 59, 0.3);
}

.form-main-block__button {
  cursor: pointer;
  width: 188px;
  background-color: #f85a47;
  padding: 5px 15px;
  flex: 0 0 188px;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.partnes-main-block {
  max-width: 65%;
}

.partnes-main-block__lable {
  font-size: 17px;
  margin-bottom: 25px;
}

.partnes-main-block__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.partnes-main-block__item img {
  max-width: 100%;
}
